@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top: 180px; margin-left: 40px; width: 50%; line-height: 80px; position: relative; z-index: 10">
    <span class="text-light" style="font-family: 'Zen Loop', cursive; font-size:130px">
        <b>Portfolio</b>
        Management
    </span>
    <br />
    <a class="btn btn-outline-info btn-lg" asp-controller="Home" asp-action="Login"><b>Login</b></a>
</div>
